body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-color: #ff6f61;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
  padding-top: 48px;
}

h1 {
  font-size: 3.5em;
  margin: 0 0 32px 0;
}

p {
  font-size: 1.5em;
}

::-webkit-scrollbar {
    display: none;
}

.header h1 {
  display: block;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.header button.open-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.main-button {
  width: 94%;
  margin: 0 3% 3%;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}

.attack-toggle {
  height: 80px;
  line-height: 80px;
}

svg {
  transition: 200ms;
}

p {
  max-width: 400px;
}
