body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-color: '#d21d1d';
  color: white;
}

.arrow {
  margin: 0 10px;
  fill: white;
  width: 25px;
  display: inline-block;
}

h1 {
  display: inline-block;
}

.pedal-button {
  width: 100%;
  height: 200px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  line-height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
}

.chord-toggle {
  width: 100%;
  height: 80px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  line-height: 80px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 80px;
}

.pitch-indicator {
  position: absolute;
  top: 0;
  right: 10px;
  height: 80px;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  line-height: 80px;
}

.pedal-button.on {
  background-color: rgba(255, 255, 255, 0.4);
}

.slidecontainer {
  margin-top: 10px;
  height: 50px;
}

.menu {
  position: absolute;
  margin-top: -440px;
  transition: 200ms;
  width: 100%;
}

.menu.open {
  margin-top: -80px;
  z-index: 10;
  background-color: black;
}

svg {
  transition: 200ms;
}

.menu.open svg {
  transform: rotate(180deg);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.setting-name {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: yellow;
  cursor: pointer;
}
