.slidecontainer {
  margin-top: 48px;
  margin: 48px 3%;
}

.reverb-toggle {
  height: 80px;
  line-height: 80px;
}

.debug-toggle {
  height: 80px;
  line-height: 80px;
}

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  transition: 200ms;
  width: 100%;
  z-index: 100;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}

.menu .main-button {
  padding: 16px 0;
}

.advanced-options .main-button {
  background-color: rgba(255, 255, 255, 0.2)
}

.menu.open {
  left: 0;
}

.simple-options {
  background-color: white;
  color: black;
  width: 100%;
  padding-bottom: 32px;
}

.advanced-options {
  background-color: black;
  color: white;
  width: 100%;
  padding-bottom: 32px;
}

.simple-option-header {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

.setting-page-header {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

.simple-option-header button.close-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.advanced-option-header {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3em;
  padding: 16px;
  box-sizing: border-box;
}

.slider-value {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 8px;
  padding-top: 0;
  box-sizing: border-box;
}

.menu.open svg {
  transform: rotate(180deg);
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  height: 4000px;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0;
}

.setting-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px;
}

.setting-description {
  margin-bottom: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 4000px;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 4000px;
  background: yellow;
  cursor: pointer;
}

.setting-page {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ff6f61;
  z-index: 2000;
  transition: 200ms;
}

.setting-page.open {
  left: 0;
}

.close-menu {
  transform: scale(1.5);
  margin: 8px!important;
}

.setting-page .slider-value {
  font-size: 5em;
}
