.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #ff6f61;
  transition: 500ms;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  animation-name: fade-in;
  animation-duration: 1s;
}

.start-screen li {
  margin-top: 8px;
}

.start-screen.closed {
  left: -150%;
}

.start-button,
.pick-hand-buttons {
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
}

.pick-hand-buttons div {
  height: 80px;
  line-height: 80px;
  margin: 0;
  width: 50%;
  display: inline-block;
}

.skip-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  font-size: 20px;
}

.start-screen-container {
  padding: 16px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

.proceed-anyway {
  text-decoration: underline;
}

.warning {
  background-color: white;
  color: #ff6f61;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  width: calc(100% + 32px);
  display: block;
  margin: 0 -16px;
}

@keyframes fade-in {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  100% {opacity: 1;}
}

.current-browser-name,
.supported-browser-list li span {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 2px;
}

.arm-svg {
  margin-left: -50px;
  width: 300px;
  height: 280px;
}
