.debugger {
  position: fixed;
  bottom: 0;
  margin-left: 4px;
}

.pedal-button {
  height: 200px;
  line-height: 200px;
}

.attack-toggle {
  height: 80px;
  line-height: 80px;
}

.pitch-indicator {
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  top: 40%;
  transform: translateY(0%);
  color: white;
  text-align: center;
  font-size: 10em;
  font-weight: bold;
}

.pedal-button.on {
  background-color: rgba(0, 0, 0, 0.4);
}

.hand-indicator {
  font-size: 18px;
}

.hand-indicator div {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
}
