.debugger {
  position: fixed;
  bottom: 0;
  margin-left: 4px;
}

.attack-toggle {
  height: 80px;
  line-height: 80px;
}

.hand-indicator {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 76px); /* 76px is half the height of the pitch indicator which is centered */
  font-size: 18px;
}

.hand-indicator div {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  display: inline-block;
}

.hand-shadow {
  position: absolute;
  z-index: -1;
  bottom: 0;
  opacity: 0.1
}

.hand-shadow.right {
  transform: scaleX(-1);
}
